body {
    font-family:  Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.calculator{
    width: 200px;
}
input {
    width:100%;
    height: 40px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
}
button{
    width: 45px;
    height: 45px;
    font-size: 16px;
    margin:2px;
}